html{font-size:62.5%;}
*{padding:0; margin:0; 
    font-family:'Courier New', Courier, monospace; 
    color:white; font-size:2rem; font-weight:bold;}
header{
       width:100%; height:100vh;   
    background-image:url('images//black.jpg'); background-size:cover; background-repeat:no-repeat;}
                              
    #main{width:100%;  display:flex; justify-content:center; align-items:center;}
    #logo{width:30%; }
    #logo>img{width:80%; height:10rem;}
    #menu{width:70%; display:flex; justify-content: space-around; }
    #menu a{position:relative; text-decoration:none;}
    #menu a::before{
        content:"";
        width:0%;
        top:100%;
        height:.2rem;
        position:absolute;
        background:burlywood;
        transition:linear all 0.5s;
    }
    #menu a:hover::before{
        width:100%;
        background:black;
    }
    /*<!---------------section------------->*/

#section{
    display:flex;
    flex-direction:row;
    text-align:center;
    justify-content: center; 
    
    
}
#section span,h1{
    line-height: 50vh;
    font-size:3rem;
}



    /*<!----footer-->*/

    body{ display:flex; flex-direction:column; height:100vh;}
    footer{background-color:rgba(0,0,0,0.5); width:100%; height:5rem; margin-top:auto; 
              display:flex; align-items:center;
            justify-content: space-between; }
    footer img{width:2.5rem; height:2.5rem;}
    
    @media(max-width:680px){
        html{font-size:50%;}
       body{ background:cover;}

    }

    @media(max-width:480px){
        html{font-size:40%;}
        #main{display:block; text-align:center; }
        #logo{width:100%}
        #menu{width:100%}
        header{ background-image:url("images/monk1.png");
        background-size:cover;
    background-repeat:no-repeat;
 background-position:center;}


    }
    

    }